.App {
  text-align: center;
}

#display {
  position: fixed;
  background-color: #5b6f8e;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  cursor: none;
}

#controls {
  position: fixed;
  background-color: #3e4782;
  bottom: 0;
  right: 0;
  width: 30vw;
  height: 50px;
}

#myImg {
  position: absolute;
}

.allImgs {
  position: absolute;
}
