@import url("https://fonts.googleapis.com/css?family=Syncopate");
.App {
  text-align: center;
  font-family: "Syncopate";
}

#display {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #FADD;
    background-image:url(imgs/background.svg);
    background-size: 100%;
  cursor: crosshair;
}

#topBar{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
}

#controls {
  width: auto;
  height: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    color:white;
    font-weight: 600;
}

#controls img{
    margin-left: 10px;
    padding: 5px;
    background-color: darkgray;
    border-style: solid;
    border-color:white;
    border-width: 2px;
}

#controls img:hover {
    border-width: 4px;
}

#scoreDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#chat {
  width: 450px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #303030;
  z-index: 999;
}

#users {
  background-color: #4f4e4e;
  color: white;
  height: auto;
  max-height: 15vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: 30px;
  margin-right: 30px;
}

#chatDisplay {
  position: relative;
  background-color: #4f4e4e;
  color: white;
  height: 50vh;
  overflow: hidden;
  text-align: left;
  padding: 20px;
}

#chatMsg {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

#chatroomControls button {
  font-family: "Syncopate";
  margin-top: 40px;
  margin-left: 10px;
  width: 120px;
  padding: 8px;
  border-style: none;
  background-color: grey;
  color: white;
}

#chatroomControls input {
  font-family: "Syncopate";
  width: 240px;
  padding: 8px;
}

#chatBody {
  position: absolute;
  bottom: 0;
  padding: 30px;
}

#chatName {
  color: red;
}

#allUsers p {
  color: white;
  font-weight: 600;
  font-size: 1.5em;
  margin-top: 40px;
}

#myImg {
  position: absolute;
}

.allImgs {
  position: absolute;
}

#shotSound {
  display: none;
}

/* MAP MENU */

#mapMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: default;
    z-index: 999;
}
  #mapMenu p {
    font-size: 24px;
      font-weight: 600;
      color: white
  }

.mapThumbnails {
  width: 80px;
  margin: 10px;
    border-style: solid;
    border-color:white;
    border-width: 2px;
}

.mapThumbnails:hover {
    border-width: 4px;
}
